<a href="https://colab.research.google.com/github/LucianBrito/ETL-/blob/main/ETL_do_zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#criar uma base de dados com 50 linhas e 5 colunas
np.random.seed(42)
data = {
    'ID': range(1, 51),
    'Nome': ['Pessoa' + str(i) for i in range(1, 51)],
    'Idade': np.random.randint(20, 60, size = 50),
    'Salario': np.random.randint(30000,100000, size = 50),
    'Departamento': np.random.choice(['Vendas', 'Marketing', 'TI', 'RH'], size = 50)
}
df = pd.DataFrame(data)

In [3]:
df.head()

   ID     Nome  Idade  Salario Departamento
0   1  Pessoa1     58    97121           TI
1   2  Pessoa2     48    99479           TI
2   3  Pessoa3     34    49457       Vendas
3   4  Pessoa4     27    96557           TI
4   5  Pessoa5     40    82995       Vendas

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            50 non-null     int64
 1   Nome          50 non-null     object
 2   Idade         50 non-null     int64
 3   Salario       50 non-null     int64
 4   Departamento  50 non-null     object
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [5]:
#Renomear as colunas
df.columns = ['ID', 'Nome', 'Idade', 'Salario', 'Departamento']
#normatizar a coluna salario
df['Salario Normatizado'] = df['Salario']
df['Salario Normatizado'] = (df['Salario Normatizado'] - df['Salario Normatizado'].min()) / (df['Salario Normatizado'].max() - df['Salario Normatizado'].min())

In [6]:
#Filtrar apenas pessoas com idade maior que 30
df_filtrado = df[df['Idade'] > 30]

In [7]:
df_filtrado.head()

   ID     Nome  Idade  Salario Departamento  Salario Normatizado
0   1  Pessoa1     58    97121           TI             0.965558
1   2  Pessoa2     48    99479           TI             1.000000
2   3  Pessoa3     34    49457       Vendas             0.269357
4   5  Pessoa5     40    82995       Vendas             0.759228
5   6  Pessoa6     58    70757           TI             0.580474

In [8]:
# Salvar os dados transformados em um arquivo csv
df.to_csv('dados_transformados.csv', index = False)

In [9]:
df['Salario Normatizado']

0     0.965558
1     1.000000
2     0.269357
3     0.957320
4     0.759228
5     0.580474
6     0.126725
7     0.653521
8     0.944758
9     0.526547
10    0.461417
11    0.153630
12    0.575216
13    0.000000
14    0.797146
15    0.324716
16    0.340096
17    0.120532
18    0.163139
19    0.915648
20    0.556257
21    0.110352
22    0.540847
23    0.733214
24    0.879482
25    0.700641
26    0.580722
27    0.022669
28    0.899406
29    0.972014
30    0.024524
31    0.689044
32    0.061960
33    0.562172
34    0.469494
35    0.189445
36    0.888684
37    0.170165
38    0.549844
39    0.037173
40    0.377401
41    0.927348
42    0.748360
43    0.316171
44    0.107737
45    0.431167
46    0.748433
47    0.499628
48    0.910258
49    0.145319
Name: Salario Normatizado, dtype: float64

In [10]:
#Transformar a coluna salario em reais, no padrão brasileiro
df['Salario Normatizado'] = 'RS' + df['Salario Normatizado'].astype(float).map('{:,.2f}'.format).str.replace(',', ' ')

In [11]:
df['Salario Normatizado']

0     RS0.97
1     RS1.00
2     RS0.27
3     RS0.96
4     RS0.76
5     RS0.58
6     RS0.13
7     RS0.65
8     RS0.94
9     RS0.53
10    RS0.46
11    RS0.15
12    RS0.58
13    RS0.00
14    RS0.80
15    RS0.32
16    RS0.34
17    RS0.12
18    RS0.16
19    RS0.92
20    RS0.56
21    RS0.11
22    RS0.54
23    RS0.73
24    RS0.88
25    RS0.70
26    RS0.58
27    RS0.02
28    RS0.90
29    RS0.97
30    RS0.02
31    RS0.69
32    RS0.06
33    RS0.56
34    RS0.47
35    RS0.19
36    RS0.89
37    RS0.17
38    RS0.55
39    RS0.04
40    RS0.38
41    RS0.93
42    RS0.75
43    RS0.32
44    RS0.11
45    RS0.43
46    RS0.75
47    RS0.50
48    RS0.91
49    RS0.15
Name: Salario Normatizado, dtype: object